body
  :background #fff
  :font-family Helvetica, Arial, Verdana, sans-serif
  :margin 50px 50px

h1
  :margin-bottom 0

h2
  :margin-bottom 10px


table
  :width 500px
  :border-collapse collapse
  :border-spacine 0
  :border-top 1px solid #aaa
  :margin-top 1em


td
  :height 100%
  :vertical-align top
  :padding 4px 0
  :border-bottom 1px solid #eee


.last td
  :padding-bottom 14px
  :border-bottom 1px solid #aaa


.syntax
  :padding-top 14px
  :font-weight bold


.see
  :width 100px


em
  :color #009999
  :font-style normal

.parenthetical
  :color #900
  :font-style italic
  :margin-bottom 15px