body
  :background #fff
  :font-family Helvetica, Arial, Verdana, sans-serif
  :margin 50px
  :font-size 90%

h1
  :margin-bottom 0

h2
  :padding .5em
  :margin .5em 0 0
  :background #eee
  :max-width 478px


table
  :width 500px
  :border-collapse collapse
  :border-spacing 0
  :border-top 1px solid #aaa


td
  :height 100%
  :vertical-align top
  :padding 4px 0
  :border-bottom 1px solid #eee


.last td
  :padding-bottom 14px
  :border-bottom 1px solid #aaa


.syntax
  :padding-top 14px
  :font-weight bold


.see
  :width 100px


em
  :color #009999
  :font-style normal

.parenthetical
  :color #900
  :font-style italic
  :margin-bottom 15px

.defaulted
  :font-style italic
  :color #999

.spinner
  :display none
  
textarea
  :width 220px
  :height 150px

.clear
  :clear both

// new verb form
.new-verb-container
  :float right
  
  h2
    :margin 0

// Navigation
.navigation
  .group
    :margin-bottom 10px
  a
    :display block
    :padding 5px 8px
    :background #eee
    :float left
    :margin-right 2px
    :border-bottom 1px solid #999
    
    &:hover
      :background #999
      :border-bottom 1px solid #333